.container > .content {
  flex: 1;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: $lg-breakpoint) {
    flex-direction: row;
  }
}

.main-content {
  width: 100%;
}

.coming-soon {
  font-size: 2rem;
  text-transform: uppercase;
  color: $base-color;
}

@media only screen and (min-width: $lg-breakpoint) {
  .sidebar {
    width: 40%;
    margin-right: 0.5rem;
  }
}
