section {
  margin: 1rem 0.5rem;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid $contrast-selection-color;
  .content {
    padding: 0.5rem;
  }
  p {
    line-height: 1.5rem;
    margin: 0;
  }
  .heading {
    text-align: center;
    font-size: 1.6rem;
    color: $base-color;
    background-color: $contrast-color;
    padding: 0.25rem;
    border-bottom: 2px solid $base-color;
    margin: 0;
  }
}
