$font-family: 'Droid Sans', sans-serif;
$fallback-font-family: sans-serif;

$font-family-serif: 'Droid Serif', serif;
$fallback-font-family-serif: 'Georgia', serif;

body {
  font-family: $fallback-font-family;
  .wf-active & {
    font-family: $font-family;
  }
}

.name, .heading {
  font-family: $fallback-font-family-serif;
  .wf-active & {
    font-family: $font-family-serif;
  }
}

.ampersand {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}
