@import "style/variables.css";
@import "style/content.css";
@import "style/header.css";
@import "style/footer.css";
@import "style/selection.css";
@import "style/sections.css";
@import "style/typography.css";

html, body, .container {
  height: 100%;
}

body {
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
